
$primaryPink: rgb(246, 196, 237);
$primaryGreen: rgb(197, 246, 223);
$secondaryGreen: rgb(205, 246, 197);

$primary-background: linear-gradient(180deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
$secondary-background: linear-gradient(180deg, hsla(197, 246, 223) 0%, hsla(205, 246, 197) 100%);